@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	font-family: 'Outfit', sans-serif;
	background-color: var(--main-bg);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.wrapper {
	min-height: 90vh;
	max-width: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

.container {
	background-color: var(--card-bg);
	padding: 1.5rem;
	border-radius: 15px;
}

.image {
	position: relative;
}

.image a {
	position: relative;
	display: block;
	width: 100%;
	z-index: 1;
}

#main-image {
	display: block;
	width: 100%;
	border-radius: 15px;
}

.image a:active {
	z-index: 0;
}

#overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--cyan);
	opacity: 50%;
	border-radius: 15px;
}

#overlay-image {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	margin: 1.5rem auto;
	font-size: 1.4rem;
	font-weight: 600;
}

p {
	color: var(--soft-blue);
	font-weight: 300;
	line-height: 1.5rem;
}

a {
	text-decoration: none;
	color: var(--white);
}

.details {
	display: flex;
	margin: 1.5rem auto;
}

.detail {
	display: flex;
	align-items: center;
	flex: 1;
}

.detail:last-of-type {
	justify-content: flex-end;
}

.detail img {
	display: block;
	height: 75%;
}

.detail p {
	font-weight: 400;
	margin-left: 0.5rem;
	font-size: 1rem;
}

.detail:nth-of-type(1) p {
	color: var(--cyan);
	font-weight: 600;
}

.line-break {
	width: 100%;
	border-bottom: 1px solid var(--line);
}

.credits {
	display: flex;
	align-items: center;
	font-size: 1rem;
	margin: 1rem auto 0.8rem;
}

.credits img {
	width: 2rem;
	border-radius: 50%;
	border: 1px solid var(--white);
}

.credits p {
	font-weight: 400;
	margin-left: 1rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
